#backbox {
    background: url(../images/starwars.gif) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 820px;  
    
}
.myHero {
    width:16.5vw;
    height:13vw;
    background-color: #31f852;
    border-color: #31f852;
}

#nameOfHero{
    margin-bottom: 0px;
}

.everyone {
    background-color: #31f852;
    border-color: #31f852;
}

.img-thumbnail {
    background-color: #31f852;
    border-color: #31f852;
}

#yourCharacter {
    color:#0a4092f8;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #31f852, 0 0 30px #31f852, 0 0 40px #ebf831, 0 0 55px #e46d0d, 0 0 75px #d80aa5;
}
.row {
    color:#e2243d;
    margin-left:10px;
    font-family: Impact, sans-serif;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #f83142, 0 0 30px #f83142, 0 0 40px #f83142, 0 0 55px #f83142, 0 0 75px #f83142;
}

#heading {
    font-size: 5vw;
    color:#d7f3f3;
    font-display: auto;
    font-weight: bolder;
    font-family: 'Neon', Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    text-align: right;
    margin-top: auto;
    padding-bottom: -30px;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #f83142, 0 0 30px #f83142, 0 0 40px #f83142, 0 0 55px #f83142, 0 0 75px #f83142;
}


#attack {
    background-color: gold ;
}

#attack:hover {
    background-color: red ;
    color: #fff;
    cursor: pointer
}


.restart {
    background-color: rgb(94, 255, 0) ;
}

.restart:hover {
    background-color: rgb(0, 204, 255) ;
    color: #fff;
    cursor: pointer
}


/*.custom-cur {
    cursor: url('/assets/images/sword.png');
  }*/

#darth, #luke {
    width: 15vw;
}


#yoda {
    width: 15.3vw;
}

#han {
    width: 15.1vw;
}




.enemy1, .enemy2, .enemy3, .currentEnemy {
    width:16.5vw;
    height:13vw;
    display:inline-block;
    background-color: #f83142;
    text-align: left;   
    border-color: #f83142; 
}

p {
    margin-bottom: 0;
}


.score {
    color:#0a920af8;
    display:block;
    /*text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #31f852, 0 0 30px #31f852, 0 0 40px #ebf831, 0 0 55px #e46d0d, 0 0 75px #d80aa5;*/
}

